body {
  
    background-image: url("subway.jpg");
    
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:  12px;
    font-weight: bold;
    text-align: center;
    color:antiquewhite;
    margin-top: 120px;
    
    
}

div {
  max-width: 2000px;
   
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 20px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 5px 5px 20px;
}
p {
    font-size: 14px;
    text-shadow: 5px 5px 20px;
    
}
button {
    
    display: block;   
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 20px;
    
}

button:hover {
	cursor: pointer;
}
#increment-btn {
   
  
    font-weight: bold;
    color: white;
   
    border: 1px solid white;
     background: darkred;
}

#save-btn {
    font-weight: bold;
    color: white;
   
    border: 1px solid white;
    background: #40916c;
}

